<ion-header></ion-header>

<ion-content>
  <ion-row align-items-center justify-content-center class="logo-background">
    <ion-col col-5>
      <img src="assets/imgs/logo-white.png" />
    </ion-col>
  </ion-row>

  <ion-row align-items-center justify-content-center class="image-pick-container" (click)="selectImage()" >
    <ion-col col-12 [hidden]="displayImageSrc === null">
      <img [src]="displayImageSrc" style="width: 100%; height: 100%;" />
    </ion-col>


    <ion-col col-5 [hidden]="displayImageSrc !== null">
      <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
      <p>Envie uma foto</p>
    </ion-col>
    <input hidden type="file" id="uploadImage" (change)="uploadImage($event)">
  </ion-row>

  <form padding (ngSubmit)="onFormSubmit()">
    <p class="subtitle">Dados do corporativo:</p>

    <ion-row align-items-center justify-content-center>

      <ion-item>
        <ion-label class="input-label" stacked> Nome fantasia </ion-label>
        <ion-input [formControl]="form.controls.companyName" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="input-label label-required" stacked> Categorias de produto</ion-label>
        <ion-select [formControl]="form.controls.product_categories" multiple="true">
            <ion-option *ngFor="let branch of branchOfActivities" [value]="branch.name">{{branch.name}}</ion-option>
        </ion-select>
      </ion-item>

      <!-- <ion-item>
        <p class="input-label label-required"> Categorias de produto </p>
        <rl-tag-input [formControl]="form.controls.product_categories" [addOnBlur]="true" placeholder="">
        </rl-tag-input>
      </ion-item> -->

      <ion-item>
        <p class="input-label label-required"> Marcas </p>
        <rl-tag-input [formControl]="form.controls.brands" [addOnBlur]="true" placeholder="">
        </rl-tag-input>
      </ion-item>

      <ion-item (click)="addOccupationArea()" >
        <p class="input-label label-required">
          Área de atuação
          <ion-icon name="add" style="margin-left: 5px;"></ion-icon>
        </p>

        <p class="view-tag-container">
          <span *ngFor="let address of user.corporate.adresses">
            <span *ngIf="address.state === 'Todos os estados'">
              {{address.state}}
            </span>
            <span *ngIf="address.state !== 'Todos os estados' && address.city === 'Todas as cidades'">
              {{address.state}} - {{address.city}}
            </span>
            <span *ngIf="address.state !== 'Todos os estados' && address.city !== 'Todas as cidades'">
              {{address.city}} - {{address.neighborhood}}
            </span>
            <ion-icon name="close" class="remove-btn" (click)="removeOccupationArea(address)"></ion-icon>
          </span>
        </p>
      </ion-item>

    </ion-row>

    <br>

    <ion-row>
      <ion-col text-center>
        <button ion-button color="primary" round block type="submit" class="big-btn">
          Cadastrar
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button clear round block (click)="push('LoginPage')" class="f-dark">
          Já possui uma conta?
        </button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>