page-requests {
    .item-tag {
        float: left;
        width: 50%;
        text-align: center;
        padding: 10px;
    }

    .item-tag-active {
        color: #00A982;
        border-bottom: 1px solid #00A982;
    }

    .card-md {
        margin: 0;
        width: 100%;
    }

    ion-card img {
        width: 25px;
    }

    .feeds-imgs {
        margin-top: 45px;
    }

    .feeds-imgs ion-col {
        padding: 3px;
    }

    h6 {
        color: #40a480;
        text-align: center;
        font-weight: bold;
        padding-top: 40px;
    }
}
