<!--
  Generated template for the RequestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Novidades</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="content-tag">
        <div class="item-tag" (click)="openFeed()">
            Feed
        </div>
        <div class="item-tag item-tag-active" >
            Pedidos
        </div>
    </div>
    
  <div style="width: 100%; text-align: center;" *ngIf="showMessage">
      <h4 class="input-label" style="color: #40a480;" stacked>{{message}}</h4>
  </div>

  <div *ngIf="!showMessage">
    
    <div *ngIf="feeds.total == 0">
      <h6>{{emptyMessage}}</h6>
    </div>

      <div class="col-12" *ngFor="let feed of feeds.data">
          <ion-card>
            <ion-grid>
              <ion-row> 
                <ion-col col-3>                 
                  <img style="height: auto; width: auto;padding: 50px 0px" class="img" src="{{feed.product?.image?.path}}" /> 
                </ion-col>
                <ion-col col-6>
                  <ion-card-header style="padding: 3px;"> </ion-card-header>
                  <ion-card-content style="padding: 2px; margin-top: 8px; margin-bottom: 10px;" *ngIf="feed.product?.publication_text && feed.product?.publication_text.length > 0">
                      <div style="padding: 10px 4px 0 4px; margin: 0 8px 0 8px;">
                          <b>{{feed[getRoleRevert()]?.user.name}}</b>
                      </div>
                      <div style="padding: 10px 4px 0 4px; margin: 0 8px 0 8px;">
                          {{feed.product.publication_text}}
                      </div>
                      <div style="padding: 10px 4px 0 4px; margin: 0 8px 0 8px;">
                          Quantidade: {{feed.amount}}
                      </div>
                  </ion-card-content>
                </ion-col>
                <ion-col col-3>
                  <ion-row class="feeds-imgs">
                    <ion-col size="1" (click)="contactEmail(feed[getRoleRevert()].user.email)">
                      <img item-end src="assets/icon/envelope.png" width="27" style=" margin-right: 17px;"  />
                    </ion-col>
                    <ion-col size="1" (click)="contactPhone(feed[getRoleRevert()].user.cel)">
                      <img item-end src="assets/icon/phone2-copy.png" width="27" style=" margin-right: 17px;"  />
                    </ion-col>
                    <ion-col size="1" (click)="contactWhatsApp(feed[getRoleRevert()].user.cel)">
                      <img item-end src="assets/icon/whatsapp.png" width="27" />
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
      </div>

      <ion-infinite-scroll *ngIf="pageNumber <= feeds.lastPage" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </div>
</ion-content>

<!-- (ionInfinite)="doInfinite($event) -->
