page-login {
  .label,
  .text-input {
    // color: #41A780 !important;
  }

  #forgot-password-btn > span {
    font-size: 15px;
  }

  .item-md ion-icon[item-left],
  .item-md ion-icon[item-left] + .item-inner,
  .item-md ion-icon[item-left] + .item-input,
  .item-md ion-icon[item-start] + .item-inner,
  .item-md ion-icon[item-start] + .item-input {
    margin-left: 0;
  }
}
