<ion-header>
</ion-header>


<ion-content padding>
  <form [formGroup]="credentialsForm">         
    <ion-row align-items-center justify-content-center>
      <ion-col col-7>
        <img src="assets/imgs/logo.png"/>
      </ion-col>      
    </ion-row>

    <ion-row align-items-center justify-content-center>        
      <ion-item>
        <ion-label color="primary"> E-MAIL </ion-label>
        <ion-icon  item-left name="ios-person-outline" class="input-icon"></ion-icon>
        <ion-input [formControl]="credentialsForm.controls['email']" type="email" ></ion-input>        
      </ion-item>

      <ion-item>
        <ion-label color="primary"> SENHA </ion-label>
        <ion-icon  item-left name="ios-lock-outline" class="input-icon"></ion-icon>
        <ion-input [formControl]="credentialsForm.controls['password']" type="password" ></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button id="forgot-password-btn" ion-button clear color="light" type="button"
        (click)="onForgotPassword()">
        Esqueci minha senha
      </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button color="primary"  round block class="big-btn"
        (click)="onSignIn()">
          Login
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button color="light" round block class="big-btn" type="button"
          (click)="push('register')">
          Inscreva-se
        </button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
