  
  <ion-content no-bounce style="background-color: #00A47E;">
    <ion-slides #myslider pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)" >
      <ion-slide *ngFor="let slide of slides">
        <div [style.backgroundImage]="'url(' + slide.image + ')'" class="image-tutorial">
        </div>
        <div class="container-title">
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        </div>
        <div class="container-description">
          <p class="description" [innerHTML]="slide.description"></p>
        </div>
        <div class="container-button" >
        <button ion-button round class="btn-next" (click)="next(slide.index)">Continuar</button>
      </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
