page-tutorial {
    .toolbar-background {
            background: transparent;
            border-color: transparent;
        }

        .slide-zoom {
            height: 100%;
        }

        .slide-title {
            margin-top: 2.8rem;
            font-size: 18px;
            font-weight: bold;
            color: white;
        }

        .image-tutorial {
            width: 100%; 
            background-repeat: no-repeat; 
            background-size: cover;
            @media screen and (orientation: portrait) and (max-height: 760px) {
                height: 46%; 
            }
            @media screen and (orientation: portrait) and (min-height: 761px) and (max-height: 1360px) {
                height: 50%; 
            }
            @media screen and (orientation: portrait) and (min-height: 1360px) {
                height: 65%; 
            }
        }

        .container-title {
            @media screen and (max-height: 570px) {
                margin-top: 6%;
            }
            @media screen and (min-height: 571px) and (max-height: 760px) {
                margin-top: 9%;
            }
            @media screen and (min-height: 761px) {
                margin-top: 11%;
            }
        }

        .container-description {
            @media screen and (max-height: 570px) {
                margin-top: 2%;
            }
            @media screen and (min-height: 571px) and (max-height: 760px) {
                margin-top: 5%;
            }
            @media screen and (min-height: 761px) {
                margin-top: 7%;
            }
        }

        .description {
            color: white; 
            @media screen and (max-height: 570px) {
                font-size: 15px;
            }
            @media screen and (min-height: 571px) and (max-height: 760px) {
                font-size: 16px;
            }
            @media screen and (min-height: 761px) {
                font-size: 17px;
            }
        }

        p {
            @media screen and (max-height: 570px) {
                padding: 0 10px;
            }
            @media screen and (min-height: 571px) and (max-height: 760px) {
                padding: 0 30px;
            }
            @media screen and (min-height: 761px) {
                padding: 0 40px;
            }
            font-size: 14px;
            line-height: 1.5;
            color: #60646B;
        

        b {
            color: #000000;
        }
    }

    .swiper-pagination-bullet-active {
        background: white;
        opacity: 1;
    }

    .container-button {
        text-align: center; 
        position: absolute;
        right: 0;
        left: 0;
        @media screen and (max-height: 570px) {
            bottom: 30px;
        }
        @media screen and (min-height: 571px) and (max-height: 760px) {
            bottom: 40px;
        }
        @media screen and (min-height: 761px) {
            bottom: 60px;
        }
    }

    .btn-next {
        color: #469e84;
        background-color: white;
        width: 90%;
        @media screen and (max-height: 570px) {
            height: 36px;
        }
        @media screen and (min-height: 571px) and (max-height: 760px) {
            height: 42px;
        }
        @media screen and (min-height: 761px) {
            height: 48px;
        }
    }

    .button > span {
        @media screen and (max-height: 570px) {
            font-size: 11px;
        }
        @media screen and (min-height: 571px) and (max-height: 760px) {
            font-size: 12px;
        }
        @media screen and (min-height: 761px) {
            font-size: 13px;
        }
    }

    .slide-title {
        margin-top: 0;
    }
    
    .swiper-pagination-bullet {
        background: #469e84;
        opacity: 1;
        @media screen and (max-height: 570px) {
            width: 8px;
            height: 8px;
            border: 1px solid white;
        }
        @media screen and (min-height: 571px) and (max-height: 760px) {
            width: 10px;
            height: 10px;
            border: 1px solid white;
        }
        @media screen and (min-height: 761px) {
            width: 12px;
            height: 12px;
            border: 2px solid white;
        }
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #fff;
    }
}
