<ion-menu type="overlay" side="left" persistent="true" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ authUser?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
        {{ p.title }}
      </button>

      <button ion-item menuClose (click)="openShareSheet()">
        <ion-icon item-start name="person-add" ></ion-icon>
        Convide seus contatos
      </button>

       <button ion-item menuClose (click)="logout()">
        <ion-icon item-start name="log-out" ></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>