page-side-menu {
  ion-title {
    padding: 0 15px 1px !important;
  }

  .menu-inner > .content {
    background: rgba(64, 164, 128, 0.9);
  }

  .list,
  .item,
  .menu-inner {
    background: transparent !important;
  }

  .list-ios > .item-block:last-child {
    border-bottom: none;
  }

  .label,
  .icon {
    color: #fff;
  }

  .label {
    font-size: 13px;
  }

  item-ios[detail-push] .item-inner,
  button.item-ios:not([detail-none]) .item-inner,
  a.item-ios:not([detail-none]) .item-inner {
    background: none;
  }

  .list-md .item-block .item-inner {
    border-bottom: none;
  }
}
