page-conections {
    .item-ios.item-block .item-inner,
    .list-ios>.item-block:last-child,
    .list-ios>.item-block:first-child {
        border: none;
    }
    .list-title {
        color: color($colors, primary, base);
    }
    .item-ios ion-avatar img,
    .item-avatar ion-avatar img {
        width: 100% !important;
        height: 100% !important;
        max-width: 50px !important; //any size
        max-height: 50px !important; //any size
    }
    .item-ios,
    .connection-list>.item-md {
        padding-left: 0;
    }
    /*toolbar*/
    .segment-md .segment-button {
        color: 444;
    }
    .invite-friends-btn {
        //.segment-button {
        border: none !important;
        box-shadow: none !important;
    }
    .invite-friends-btn,
    .invite-friends-btn ion-icon {
        background: #fff;
        padding: 0;
        color: color($colors, primary, base);
    }
    .invite-friends-btn ion-icon {
        font-size: 2.4em;
        margin-right: 10px;
    }
    .toolbar>.bar-buttons,
    .toolbar>.bar-buttons>button {
        background: none;
        color: #fff;
    }
    /*list*/
    .connection-list h2 {
        color: #444;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 85%;
    }
    .connection-list label {
        color: #444;
    }
    .scroll {
        height: 100%;
    }
    #map {
        width: 100%;
        height: 92%;
    }
}
