<ion-header>
    <ion-navbar>

        <ion-buttons left>
            <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        </ion-buttons>

        <ion-title>Conexões</ion-title>

    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-segment color="primary" [(ngModel)]="currentSegmentPage" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="list">
      Listagem
    </ion-segment-button>
    <ion-segment-button value="map">
      Mapa
    </ion-segment-button>
  </ion-segment> -->

    <div padding>
        <button ion-button icon-start class="invite-friends-btn" (click)="openShareSheet()">
      <ion-icon name="ios-person-add-outline"></ion-icon>
      Convide seus amigos
    </button>

        <div [hidden]="pendingSolicitations.length == 0">
            <p class="list-title">Solicitações pendentes</p>

            <ion-list class="connection-list">
                <ion-item class="item-avatar" *ngFor="let solicitation of pendingSolicitations">
                    <ion-avatar (click)="onClickUser(solicitation.id)" item-left>
                        <img [src]="getListItemImgSrc(solicitation)" />
                    </ion-avatar>
                    <h2 (click)="onClickUser(solicitation.id)">{{solicitation.name}}</h2>
                    <p (click)="onClickUser(solicitation.id)"> {{ getListItemSubtitle(solicitation) }} </p>

                    <img item-end src="assets/icon/cross.png" width="17" (click)="updateConnectionStatus(solicitation._joinData.user_id, solicitation._joinData.friend_id, 0)" />
                </ion-item>
            </ion-list>
        </div>

        <div [hidden]="pendingConnections.length == 0">
            <p class="list-title">Aprovações pendentes</p>

            <ion-list class="connection-list">
                <ion-item class="item-avatar" *ngFor="let connection of pendingConnections">
                    <ion-avatar (click)="onClickUser(connection.id)" item-left>
                        <img [src]="getListItemImgSrc(connection)" />
                    </ion-avatar>
                    <h2 (click)="onClickUser(connection.id)">{{ getName(connection) }}</h2>
                    <p (click)="onClickUser(connection.id)"> {{ getCompanyName(connection) }} </p>

                    <img [hidden]="connection.send_control == user[currentVision].id" style="margin: 8px 17px 9px 0;" item-end src="assets/icon/confirm.png" width="20" style=" margin-right: 25px;"  (click)="accept(connection.id)" />

                    <img [hidden]="connection.send_control == user[currentVision].id" item-end src="assets/icon/cross.png" width="17" (click)="reject(connection.id)" />
                </ion-item>
            </ion-list>
        </div>


        <p class="list-title">Conexões</p>

        <ion-list class="connection-list">
            <p *ngIf="approvedConnections.length == 0">{{ emptyConnections }}</p>

            <ion-item class="item-avatar" *ngFor="let connection of approvedConnections">
                <ion-avatar item-left (click)="onClickUser(connection.id)">
                    <img [src]="getListItemImgSrc(connection)" />
                </ion-avatar>
                <h2 (click)="onClickUser(connection.id)">{{getName(connection)}}</h2>
                <p (click)="onClickUser(connection.id)">{{ getCompanyName(connection) }} </p>

                <span>

                </span>
                <img item-end src="assets/icon/envelope.png" width="27" style=" margin-right: 17px;" (click)="openEmail(connection.user?.email)" />

                <img item-end src="assets/icon/phone2-copy.png" width="27" style=" margin-right: 17px;" (click)="callPhoneNumber(connection.user?.cel)" />

                <img item-end src="assets/icon/whatsapp.png" width="27" (click)="openWhatsApp(connection.user?.cel)" />

            </ion-item>
        </ion-list>
    </div>




    <div [hidden]="currentSegmentPage !== 'map'" #map id="map"></div>

</ion-content>