page-feed-maintence {
    .image-pick-container {
        background: #dcdcdc;
        padding: 10px 0;
    }
    .image-pick-container ion-icon {
        color: #9d9a9a;
        font-size: 6em;
    }
    .image-pick-container ion-col {
        text-align: center;
    }
    .image-pick-container p {
        color: #9d9a9a;
    }

    .item-md.item-block .item-inner {
        border-bottom: none;
        
    }
    .color-checked {
        color: #4F4F4F !important;
        font-size: 15px !important;
    }
    .item.item-md .checkbox-md {
        margin: 5px 15px 9px 4px !important;
    }
}

