<ion-header>

  <ion-navbar>
    <ion-title>{{ id ? "Editar Publicação" : "Nova Publicação" }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div style="margin-bottom: 5px;">
    <ion-label class="input-label" style="color: #40a480; font-size: 14px !important;" stacked> Foto da publicação
    </ion-label>
  </div>
  <ion-row align-items-center justify-content-center ngclass="image-pick-container" (click)="teste()">
    <ion-col col-12 [hidden]="displayImageSrc === null">
      <img [src]="displayImageSrc" style="height: auto; width: 100%;" />
      <input hidden type="file" id="image" name="image" (change)="upload($event)" />
    </ion-col>


    <ion-col col-5 [hidden]="displayImageSrc !== null">
      <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
      <p>Envie uma foto</p>
    </ion-col>
  </ion-row>

  <form padding (ngSubmit)="onFormSubmit()" style="padding-left: 0; padding-right: 0;">

    <ion-row align-items-center justify-content-center>

      <ion-item style="padding-left: 0;">
        <ion-label class="input-label" style="color: #40a480;" stacked> Texto da publicação </ion-label>
        <ion-textarea [formControl]="form.controls.textPublish" [(ngModel)]="text" type="text" rows="8"></ion-textarea>
      </ion-item>

    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-item style="padding-left: 0;">
        <ion-label class="input-label" style="color: #40a480;  margin-top: 40px;" stacked> CEP </ion-label>
        <ion-input type="text" name="cep" (ionBlur)="searchCEP()" [(ngModel)]="cep" ></ion-input>
      </ion-item>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-item style="padding-left: 0;">
        <ion-label class="input-label" style="color: #40a480;" stacked>País</ion-label>
        <ion-input type="text" name="parents" value="Brasil"> </ion-input>
      </ion-item>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-item style="padding-left: 0;">
        <ion-label class="input-label" style="color: #40a480;" stacked>Estado</ion-label>
        <ion-input type="text" name="state"  [(ngModel)]="viaCep.uf"> </ion-input>
      </ion-item>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-item style="padding-left: 0;">
        <ion-label class="input-label" style="color: #40a480;" stacked>Cidade</ion-label>
        <ion-input type="text" name="localidade"  [(ngModel)]="viaCep.localidade"> </ion-input>
      </ion-item>
    </ion-row>
    <ion-row align-items-center justify-content-center>
      <ion-item style="padding-left: 0;">
        <ion-label class="input-label" style="color: #40a480;" stacked>Bairro</ion-label>
        <ion-input type="text" name="neighborhood" [(ngModel)]="viaCep.bairro"> </ion-input>
      </ion-item>
    </ion-row>

    <ion-row *ngIf="currentVision !== 'buyer'">
      <ion-label class="input-label" style="color: #40a480;" stacked>Pedidos</ion-label>
      <ion-item class="color-checked-content">
        <ion-label class="color-checked">Quero receber pedidos</ion-label>
        <ion-checkbox [formControl]="form.controls.receiveRequest" [(ngModel)]="checkbox" type="checkbox" value="false">
        </ion-checkbox>
      </ion-item>
    </ion-row>


    <br>

    <ion-row>
      <ion-col col-4 text-center>
        <button ion-button color="primary" round block type="submit">
          Publicar
        </button>
      </ion-col>
      <ion-col col-4 text-center>
        &nbsp;
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-button color="danger" round block type="button" *ngIf="id" (click)="delete()">
          Apagar
        </button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>