<ion-content class="main-view">
  <div class="overlay" (click)="dismiss()"></div>

  <div class="modal_content">
    <p style="font-size: 16px; padding-left: 10px;">Adicionar região de atuação</p>

    <ion-item>
      <ion-label class="input-label" stacked> Estado </ion-label>
      <ion-select (ionChange)="onSelectChange('state')" [(ngModel)]="address.state_id">
        <ion-option value="Todos os estados">Todos os estados</ion-option>
        <ion-option *ngFor="let state of states" [value]="state.id">{{state.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="input-label" stacked> Cidade </ion-label>
      <ion-select (ionChange)="onSelectChange('city')" [(ngModel)]="address.city_id">
        <ion-option value="Todas as cidades">Todas as cidades</ion-option>
        <ion-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="input-label" stacked> Bairro </ion-label>
      <ion-select [(ngModel)]="address.district_id">
        <ion-option value="Todos os bairros">Todos os bairros</ion-option>
        <ion-option *ngFor="let district of districts" [value]="district.id">{{district.name}}</ion-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-row>
      <ion-col text-center>
        <button ion-button color="primary" round block class="big-btn" (click)="onSubmit()">
          Adicionar
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>