// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
//fonts
@font-face {
    font-family: "orkney-medium";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/orkney-medium.otf");
}
@font-face {
    font-family: "orkney-light";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/orkney-light.otf");
}
$font-family-md-base: "orkney-light";
$font-family-ios-base: "orkney-light";
$font-family-wp-base: "orkney-light";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #40a480, //primary:    #67b191,
//secondary:  #32db64,
secondary: #215f43,
danger: #f53d3d,
light: #f4f4f4,
dark: #222,
gray: #9e9f9f);
//Alert modal
$alert-ios-message-text-color: red;
$alert-md-message-text-color: red;
//TABS
// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background: color($colors,
primary);
// Use the default background for the tabbar since it inherits from toolbar
$tabbar-md-background: color($colors,
primary);
$tabs-background: color($colors,
primary);
// Change the color of the tabs text
$tabs-md-tab-text-color-active: color($colors,
secondary);
$tabs-md-tab-icon-color-active: color($colors,
secondary);
$tabs-ios-tab-text-color-active: color($colors,
secondary);
$tabs-ios-tab-icon-color-active: color($colors,
secondary);
$tabs-md-tab-icon-color: #fff;
$tabs-md-tab-text-color: #fff;
$tabs-ios-tab-text-color: #fff;
$tabs-ios-tab-icon-color: #fff;
// Change the color of the segment button text
$toolbar-md-active-color: #fff;
$toolbar-md-inactive-color: #fff;
$segment-button-md-text-color-activated: #fff;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
