page-view-profile {
  .avatar-background {
    background: #fff;
    padding-top: 5px;
  }

  .image-pick-container {
    background: #fff;
    //padding: 10px 0;
  }

  .item {
    padding-left: 0;
  }

  .subtitle {
    color: #4bb292;
    font-size: 16px;
    margin-bottom: 0;
  }

  /*TAGS INPUT*/
  [_nghost-c1] {
    background-color: color($colors, primary);
    border-radius: 40px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 3px;
  }
  [_nghost-c1] .ng2-tag-input-remove[_ngcontent-c1] {
    color: color($colors, primary);
    background: #fff;
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
  [_nghost-c0] {
    padding: 0px 0 0px 0;
  }

  .view-tag-container  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    min-height: 28px;
  }

  .view-tag-container > span {
    color: #fff;
    background: #41a480;
    padding: 5px 10px;
    margin: 5px;
    line-height: 18px;
    border-radius: 35px;
    min-width: 50px;
    text-align: center;
  }


}
