<ion-header>
    <ion-navbar>

        <ion-title>Perfil</ion-title>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row align-items-center justify-content-center class="avatar-background">
        <ion-col col-4>
            <img class="profile-picture" src="{{profileImgSrc}}" />
        </ion-col>
    </ion-row>

    <form padding (ngSubmit)="onFormSubmit()">
        <div *ngIf="userProfile.buyer?.id">
            <p class="subtitle">Dados do comprador:</p>

            <ion-row align-items-center justify-content-center>

                <ion-item *ngIf="userProfile.name">
                    <ion-label class="input-label" stacked> Nome do contato </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.name" name="name" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.cel">
                    <ion-label class="input-label" stacked> Celular </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.cel" [brmasker]="{phone: true}" type="tel" name="userProfile.cel"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.email">
                    <ion-label class="input-label" stacked> E-mail </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.email" name="userProfile.email" type="email"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.company_name">
                    <ion-label class="input-label" stacked> Nome da empresa </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.company_name" name="company_name" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.cnpj">
                    <ion-label class="input-label" stacked> CNPJ </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.cnpj" name="cnpj" type="text" maxlength="18" mask="**.***.***/****-**"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.tel">
                    <ion-label class="input-label" stacked> Telefone fixo </ion-label>
                    <ion-input [disabled]="true" type="text" maxlength="13" mask="(**)****-****" name="telephone" [(ngModel)]="userProfile.buyer.tel">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.buyer.adresses">
                    <ion-label class="input-label " stacked> CEP </ion-label>
                    <ion-input [disabled]="true" type="text" mask="*****-***" maxlength="9" name="zip_code" [(ngModel)]="userProfile.buyer.adresses.zip_code" (blur)="onCepBlur($event)">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.buyer.adresses">
                    <ion-label class="input-label " stacked> Rua </ion-label>
                    <ion-input [disabled]="true" type="text" name="userProfile.buyer.adresses.street" [(ngModel)]="userProfile.buyer.adresses.street"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.buyer.adresses">
                    <ion-label class="input-label" stacked> Número </ion-label>
                    <ion-input [disabled]="true" name="userProfile.buyer.adresses.house_number" [(ngModel)]="userProfile.buyer.adresses.number" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.buyer.adresses">
                    <ion-label class="input-label" stacked> Complemento </ion-label>
                    <ion-input [disabled]="true" name="userProfile.buyer.adresses.complement" [(ngModel)]="userProfile.buyer.adresses.complement" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.buyer.adresses">
                    <ion-label class="input-label " stacked> Bairro </ion-label>
                    <ion-input [disabled]="true" name="userProfile.buyer.adresses.neighborhood" [(ngModel)]="userProfile.buyer.adresses.neighborhood" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.buyer.adresses">
                    <ion-label class="input-label " stacked> Cidade </ion-label>
                    <ion-input [disabled]="true" name="userProfile.buyer.adresses.city" [(ngModel)]="userProfile.buyer.adresses.city" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.buyer.adresses">
                    <ion-label class="input-label " stacked> Estado </ion-label>
                    <ion-input [disabled]="true" name="userProfile.buyer.adresses.state" [(ngModel)]="userProfile.buyer.adresses.state" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <p class="input-label"> Ramo de atividades </p>
                    <p class="view-tag-container">
                        <span *ngFor="let branch of userProfile.buyer.categories">
                        {{branch.name}}
                        </span>
                    </p>
                </ion-item>

            </ion-row>
        </div>

        <div *ngIf="userProfile.provider?.id">
            <p class="subtitle">Dados do vendedor:</p>

            <ion-row align-items-center justify-content-center>
                <ion-item *ngIf="userProfile.provider.categories">
                    <p class="input-label">Categorias de produto </p>
                    <p class="view-tag-container">
                    <span *ngFor="let category of userProfile.provider.categories">
                        {{category.name}}
                    </span>
                    </p>
                </ion-item>

                <ion-item *ngIf="userProfile.provider.adresses">
                    <p class="input-label"> Região de atuação </p>
                    <p class="view-tag-container">
                        <span *ngFor="let address of userProfile.provider.adresses">
                            <span *ngIf="address.state === 'Todos os estados'">
                                {{address.state}}
                            </span>
                            <span *ngIf="address.state !== 'Todos os estados' && address.city === 'Todas as cidades'">
                                {{address.state}} - {{address.city}}
                            </span>
                            <span *ngIf="address.state !== 'Todos os estados' && address.city !== 'Todas as cidades'">
                                {{address.city}} - {{address.neighborhood}}
                            </span>
                        </span>
                    </p>
                </ion-item>

                <ion-item *ngIf="userProfile.company_name">
                    <ion-label class="input-label" stacked> Nome da empresa </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.company_name" name="company_name" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.cnpj">
                    <ion-label class="input-label" stacked> CNPJ </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.cnpj" name="cnpj" type="text" [brmasker]="{mask:'00.000.000/0000-00', len:18, type:'num'}"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.provider.brands">
                    <p class="input-label"> Marcas ou produtos </p>
                    <p class="view-tag-container">
                    <span *ngFor="let brand of userProfile.provider.brands">
                        {{brand.name}}
                    </span>
                    </p>
                </ion-item>
            </ion-row>
        </div>



        <div *ngIf="userProfile.corporate?.id">
            <p class="subtitle">Dados do corporativo:</p>

            <ion-row align-items-center justify-content-center>

                <ion-item *ngIf="userProfile.company_name">
                    <ion-label class="input-label" stacked> Nome da empresa </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.company_name" name="corporate.company_name" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.corporate.categories">
                    <p class="input-label"> Categorias de produto </p>
                    <p class="view-tag-container">
                    <span *ngFor="let category of userProfile.corporate.categories">
                        {{category.name}}
                    </span>
                    </p>
                </ion-item>

                <ion-item *ngIf="userProfile.corporate.brands">
                    <p class="input-label"> Marcas </p>
                    <p class="view-tag-container">
                    <span *ngFor="let brand of userProfile.corporate.brands">
                        {{brand.name}}
                    </span>
                    </p>
                </ion-item>

                <ion-item *ngIf="userProfile.cnpj">
                    <ion-label class="input-label" stacked> CNPJ </ion-label>
                    <ion-input [disabled]="true" [(ngModel)]="userProfile.cnpj" name="corporate.cnpj" type="text" maxlength="18" mask="**.***.***/****-**"></ion-input>
                </ion-item>

                <ion-item *ngIf="userProfile.corporate.tel">
                    <ion-label class="input-label" stacked> Telefone fixo </ion-label>
                    <ion-input [disabled]="true" type="text" maxlength="13" mask="(**)****-****" name="corporate.telephone" [(ngModel)]="userProfile.corporate.tel">
                    </ion-input>
                </ion-item>

                <!-- Endereço -->
                <!-- <ion-item *ngIf="corporateAddress && corporateAddress.zip_code">
                    <ion-label class="input-label " stacked> CEP </ion-label>
                    <ion-input [disabled]="true" type="text" mask="*****-***" maxlength="9" name="corporate.zip_code" [(ngModel)]="corporateAddress.zip_code" (blur)="onCepBlur($event)">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="corporateAddress && corporateAddress.street">
                    <ion-label class="input-label " stacked> Rua </ion-label>
                    <ion-input [disabled]="true" type="text" name="corporateAddress.street" [(ngModel)]="corporateAddress.street"></ion-input>
                </ion-item>

                <ion-item *ngIf="corporateAddress && corporateAddress.house_number">
                    <ion-label class="input-label" stacked> Número </ion-label>
                    <ion-input [disabled]="true" name="corporateAddress.house_number" [(ngModel)]="corporateAddress.house_number" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="corporateAddress && corporateAddress.complement">
                    <ion-label class="input-label" stacked> Complemento </ion-label>
                    <ion-input [disabled]="true" name="corporateAddress.complement" [(ngModel)]="corporateAddress.complement" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="corporateAddress && corporateAddress.district.name">
                    <ion-label class="input-label " stacked> Bairro </ion-label>
                    <ion-input [disabled]="true" name="corporateAddress.district.name" [(ngModel)]="corporateAddress.district.name" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="corporateAddress && corporateAddress.city.name">
                    <ion-label class="input-label " stacked> Cidade </ion-label>
                    <ion-input [disabled]="true" name="corporateAddress.city.name" [(ngModel)]="corporateAddress.city.name" type="text"></ion-input>
                </ion-item>

                <ion-item *ngIf="corporateAddress && corporateAddress.state.name">
                    <ion-label class="input-label " stacked> Estado </ion-label>
                    <ion-input [disabled]="true" name="corporateAddress.state.name" [(ngModel)]="corporateAddress.state.name" type="text"></ion-input>
                </ion-item> -->


            </ion-row>
        </div>

        <br>

        <ion-row>
            <ion-col text-center style="display: flex; justify-content: center;">
                <div class="share-container">
                    <img item-end src="assets/icon/whatsapp.png" width="30" (click)="openWhatsApp(userProfile.cel)" />
                </div>
                <div class="share-container">
                    <img item-end src="assets/icon/envelope.png" width="30" (click)="openEmail(userProfile.email)" />
                </div>
                <div class="share-container">
                    <img item-end src="assets/icon/phone2-copy.png" width="30" (click)="callPhoneNumber(userProfile.cel)" />
                </div>
            </ion-col>
        </ion-row>

    </form>
</ion-content>