<ion-header>
  <ion-navbar>

    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <!-- <ion-title>Busca</ion-title> -->

  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-segment color="primary" [(ngModel)]="currentSegmentPage" [hidden]="currentVision !== 'provider'" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="list">
      Listagem
    </ion-segment-button>
    <ion-segment-button value="map">
      Mapa
    </ion-segment-button>
  </ion-segment> -->
  <br> 

  <div class="searchContainer">
    <ion-select [hidden]="currentVision == 'buyer' " placeholder="{{searchText1}}" name="searchInput" id="branch-of-activity"
      [(ngModel)]="searchInput" (ionChange)="onSearchTextChange($event)">
      <ion-option *ngFor="let branch of branchOfActivities" [value]="branch.name">{{branch.displayName}}</ion-option>
    </ion-select>

    <ion-searchbar [hidden]="currentVision == 'provider' " [(ngModel)]="searchInput2" [showCancelButton]="shouldShowCancel"
      (ionInput)="onSearchTextChange($event)" (ionCancel)="onSearchCancel($event)" placeholder="Digite o produto ou marca ou categoria"
      debounce="1000">
    </ion-searchbar>

    <ion-searchbar class="" (click)="addOccupationArea()" placeholder="Local de busca">
      <ion-icon name="add" style="margin-left: 5px; color: #444;"></ion-icon>
    </ion-searchbar>

    <!-- <ion-searchbar [hidden]="currentVision == 'buyer' " [(ngModel)]="locationInput" [showCancelButton]="shouldShowCancel"
      (ionInput)="onSearchTextChange($event)" (ionCancel)="onSearchCancel($event)" placeholder="Digite o local"
      debounce="1000">
    </ion-searchbar> -->
  </div>

  <div [hidden]="currentSegmentPage !== 'list'" padding>
    <p class="list-title">Busca de conexões</p>

    <ion-list class="connection-list">
      <ion-item class="item-avatar" *ngFor="let user of users" (click)="openViewProfile(user)">
          <ion-avatar item-left > <!--(click)="onClickUser(user)"-->
            <img [src]="getListItemImgSrc(user)" />
          </ion-avatar>

          <h2  >{{ user.user.company_name }}</h2> <!--(click)="onClickUser(user)"-->
          <h2  >{{ user.user.name }}</h2>
          <p >{{ getListItemSubtitle(user) }} </p>

          <button class="connect-btn" item-end ion-button [hidden]="user.corporate" (click)="addConnectionRequest(user)">
            Conectar
          </button>
<!-- TODO: Buscar com status pendete, hj a query não retorna -->
          <!-- <button class="connect-btn" color="gray" (click)="onPendentStatusPress(user)" item-end ion-button [hidden]="isCorporate || user.connectionStatus !== 2">
            Pendente
          </button> -->

          <!-- <button class="connect-btn" (click)="onClickUser(user)" item-end ion-button [hidden]="isCorporate || user.connectionStatus !== 1">
            Amigos
          </button> -->
      </ion-item>
    </ion-list>
  </div>

  <div [hidden]="currentSegmentPage !== 'map'" #map id="map"></div>
</ion-content>