page-search {
  .item-cover {
    width: auto !important;
    height: auto !important;
  }
  /*list*/
  .connection-list {
    margin: 0px -20px;
  }

  .list-title {
    color: color($colors, primary, base);
  }

  .connection-list h2 {
    color: #444;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 64%;
  }

  .connection-list label {
    color: #444;
  }
  .connection-list .connect-btn {
    position: absolute;
    right: -40px;
    border-radius: 22px;
    padding: 15px 60px 15px 25px;
  }
  .connection-list .item-block {
    margin: 10px 0;
  }

  .item-ios.item-block .item-inner {
    border: none;
  }

  /*search bar*/
  #branch-of-activity {
    font-size: 14px;
    border: 1px solid #141414;
    border-radius: 25px;
    padding: 6.5px 10px;
    width: 89%;
    color: #141414;
  }

  .searchbar-md {
    padding: 0px;
  }
  .searchbar-input {
    box-shadow: none !important;
    border: 1px solid #5b5b5b !important;
    border-radius: 20px !important;
  }

  .searchbar-input:-ms-input-placeholder,
  .searchbar-input::-webkit-input-placeholder {
    color: #5b5b5b;
    font-size: 14px;
  }

  .searchContainer > .select-ios {
    margin: 4px 0 !important;
  }

  .searchContainer {
    // padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px;
  }

  .searchContainer > ion-searchbar:last-child {
    margin-left: 10px;
  }

  .scroll {
    height: 100%;
  }

  #map {
    width: 100%;
    height: 81%;
    margin-top: 10px;
  }
}
