<ion-tabs [selectedIndex]="myIndex">
  <ion-tab  [root]="tab1Root" tabTitle="Novidades" tabIcon="paper"></ion-tab>
  <ion-tab  [root]="tab2Root" tabTitle="Conexões" tabIcon="people" *ngIf="currentVision != 'corporate'"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Busca" tabIcon="search" *ngIf="currentVision != 'corporate'"></ion-tab>
  <!-- <ion-tab [root]="tab4Root" tabTitle="Pedidos" tabIcon="person" *ngIf="currentVision != 'none'"></ion-tab> -->
  <ion-tab [root]="tab5Root" tabTitle="Perfil" tabIcon="person" *ngIf="currentVision != 'none'"></ion-tab>
</ion-tabs>