<ion-header></ion-header>

<ion-content>
  <ion-row align-items-center justify-content-center class="logo-background">
    <ion-col col-5>
      <img src="assets/imgs/logo-white.png" />
    </ion-col>
  </ion-row>

  <form padding [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
    <p class="subtitle">Qual seu tipo de perfil?</p>

    <ion-row>
      <ion-col col-4>
        <button ion-button round block type="button" [color]="registerForm.controls['role'].value == 'buyer' ? 'default' : 'gray'"
          (click)="setUserRole('buyer')">
          <b>Comprador</b>
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button round block type="button" [color]="registerForm.controls['role'].value == 'provider' ? 'default' : 'gray'"
          (click)="setUserRole('provider')">
          <b>Vendedor</b>
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button round block type="button" [color]="registerForm.controls['role'].value == 'corporate' ? 'default' : 'gray'"
          (click)="setUserRole('corporate')">
          <b>Corporativo</b>
        </button>
      </ion-col>
    </ion-row>

    <p class="subtitle">Meus dados:</p>

    <ion-row align-items-center justify-content-center>
      <ion-item>
        <ion-label class="label-required" stacked> Nome do contato </ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label-required" stacked> Celular </ion-label>
        <ion-input formControlName="cel" type="tel" [brmasker]="{phone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label-required" stacked> E-mail </ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label-required" stacked> Senha </ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-row>

    <br>

    <ion-row>
      <ion-col text-center>
        <button ion-button color="primary" round block type="submit" class="big-btn" [disabled]="!registerForm.valid">
          Próxima etapa
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button clear round block type="button" class="f-dark" (click)="changePage('LoginPage')">
          Já possui uma conta?
        </button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>