page-register {
    .subtitle {
        color: #4bb292;
        font-size: 16px;
        margin-bottom: 0;
    }
    .logo-background {
        padding-top: 15px;
        background: #469e84;
    }
    .item {
        padding-left: 0 !important;
    }
    .button-list {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .button-list .item-inner,
    .button-list .item {
        border: none !important;
    }
    .button-list button {
        border-radius: 25px;
        background: #9e9f9f;
    }
    .button-list>.item-radio-checked * button {
        background: #3fa480 !important;
    }
    .button-list>.item-radio-checked .label {
        color: #fff;
    }
    .button-list .label {
        color: #444;
        z-index: 1;
    }
    .button-list>.item {
        width: 45%;
    }
}
