page-feed {

    .content.content-md {
        background-color: #F8F8F8;
    }

    .button-feed {
        height: 25px;
        width: 88px;
        font-size: 1.2rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .button-feed > span {
        font-size: 16px !important;
    }

    .card-md {
        margin: 0 0 15px 0;
        width: 100% !important;
    }

    .button > span {
        font-size: 12px;
    }

    .item-tag {
        float: left;
        width: 50%;
        text-align: center;
        padding: 10px;
    }

    .item-tag-active {
        color: #00A982;
        border-bottom: 1px solid #00A982;
    }
}
