<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Novidades</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="content-tag">
        <div class="item-tag item-tag-active">
            Feed
        </div>
        <div class="item-tag" (click)="openFeed()">
            Pedidos
        </div>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles" refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <div style="width: 100%; text-align: center;" *ngIf="showMessage">
        <ion-label class="input-label" style="color: #40a480;" stacked>{{message}}</ion-label>
    </div>

    <div *ngIf="!showMessage">
        <div class="col-12" *ngFor="let feed of feeds.data">
            <ion-card>
                <ion-card-header style="padding: 3px;">
                    <ion-row style="margin-top: 10px; padding-right: 6px; margin-left: 4px;">
                        <ion-col col-12 style="padding-top: 8px;"> <!-- (click)="openViewProfile(feed.user.id)"-->
                            <ion-row>
                                <ion-col col-2>
                                    <div style="float: left;">
                                        <img class="img" style="max-width: 36px; max-height: 36px; border-radius: 50%;"
                                             src="{{ feed.provider?.user?.image?.path || feed.corporate?.user?.image?.path }}"
                                        />
                                    </div>
                                </ion-col>
                                <ion-col col-6>
                                    <div style="float: left; text-overflow: ellipsis; overflow: hidden; margin-left: 5px; margin-top: 10px;">
                                        {{ feed.provider?.user?.name }}
                                    </div>
                                </ion-col>
                                <ion-col col-3>
                                    <div style="margin-right: 0px;">
                                        <button (click)="openForm(feed.id)" *ngIf="currentVision == 'buyer' && feed.receive_orders" ion-button color="primary" round small>Eu quero!</button>
                                    </div>
                                </ion-col>
                               
                            </ion-row>
                           
                            
                         
                          
                           
                        </ion-col>
                        <ion-col col-4 style="text-align: right; padding-right: 0; padding-top: 0;" *ngIf="feed.displayConnectionStatus">
                            <button ion-button round class="button-feed" (click)="addConnectionRequest(feed)" *ngIf="feed.allowConnect">
                              Conectar
                            </button>
                            <button ion-button round class="button-feed" color="gray" (click)="onPendentStatusPress(feed)" *ngIf="feed.allowPending">
                              Pendente
                            </button>
                        </ion-col>
                    </ion-row>
                    <div style="padding-left: 8px; padding-right: 8px; margin-top: 8px;">
                        <img class="img" src="{{feed.image?.path}}" />
                    </div>
                </ion-card-header>
                <ion-card-content style="padding: 2px; margin-top: 8px; margin-bottom: 10px;" *ngIf="feed.publication_text">
                    <div style="padding: 10px 4px 10px 4px; margin: 0 8px 0 8px;">
                        {{feed.publication_text}}
                    </div>
                </ion-card-content>
            </ion-card>
        </div>

        <ion-infinite-scroll *ngIf="pageNumber <= feeds.lastPage" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

    <ion-fab bottom right>
        <button ion-fab *ngIf="currentVision != 'buyer'" (click)="addFeed()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>