// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//fix ios
.toolbar-title-ios{
padding-top: 10px !important;
}

.toolbar-ios {
padding-top: 14px !important;
}

.content-ios > .fixed-content > .scroll-content {
margin-top: 54px !important;
}

//end fix ios

.f-bold {
  font-weight: 600;
}
.f-white {
  color: white;
}
.item-ios p,
.f-dark {
  color: #424242;
}
input {
  color: #656565;
}
/* Label */

.label {
  font-family: "orkney-light";
}
.label,
.label-ios[stacked],
.item-input .label-md:not([color]),
.item-select .label-md,
.item-datetime .label-md {
  color: #424242;
  font-weight: bold;
}
//.label-ios[stacked],
// .label-ios {
//   margin: 11px 8px 1px 0;
// }
.label-md[stacked],
.input-label,
.item-md,
.label-ios[stacked] {
  font-size: 17px !important;
  color: #424242;
}
[padding] h1:first-child,
[padding] h2:first-child,
[padding] h3:first-child,
[padding] h4:first-child,
[padding] h5:first-child,
[padding] h6:first-child {
  margin-top: 0rem;
}
/* Inputs */

.select > .item-cover {
  height: iniital !important;
}
ion-item.ng-invalid.ng-dirty > .item-inner {
  border-bottom: 0.55px solid red !important;
}
.item-ios.item-block .item-inner {
  border-bottom: 0.55px solid #41a780;
}
.input-icon {
  color: #41a780 !important;
  position: absolute; //bottom: 0;
  font-size: 20px !important;
  bottom: -5px;
}
.input-icon ~ .item-inner > .input-wrapper > ion-label {
  padding-bottom: 30px !important;
}
.input-icon ~ .item-inner > .input-wrapper > ion-input {
  margin-bottom: -30px !important;
  margin-left: -30px !important;
}
.input-icon ~ .item-inner > .input-wrapper > ion-label {
  margin-right: 0 !important;
  padding-right: 0 !important;
}
.label-required:after {
  content: "*";
  color: red;
}
/*TAGS INPUT*/

[_nghost-c1] {
  background-color: color($colors, primary) !important;
  border-radius: 40px !important;
  font-size: 17px !important;
  color: #fff !important;
  margin-bottom: 3px !important;
}
[_nghost-c1] .ng2-tag-input-remove[_ngcontent-c1] {
  color: color($colors, primary) !important;
  background: #fff !important;
  height: 20px !important;
  width: 20px !important;
  line-height: 21px !important;
  font-size: 17px !important;
}
[_nghost-c0] {
  color: #424242;
  padding: 0px 0 0px 0 !important;
}
.view-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  min-height: 28px;
}
.view-tag-container > span {
  color: #fff;
  background: #41a480;
  padding: 7px 10px;
  margin: 5px 5px 0 0;
  line-height: 18px;
  border-radius: 35px;
  min-width: 50px;
  text-align: center;
}
.view-tag-container > span > .remove-btn {
  font-size: 14px;
  font-weight: bold;
  background: #fff;
  color: #41a480;
  border-radius: 30px;
  padding: 2px 5px;
}
/* Buttons */

.button > span {
  font-size: 16px;
  text-transform: initial;
}
.button[color="primary"] > span {
  color: #fff;
}
.button[color="light"] > span {
  color: #41a780;
}
.big-btn {
  padding: 30px 0;
}
.big-btn.primary {
  border-bottom: 3px solid #ccc;
}
.button-block-md > span > b {
  padding-top: 4px;
}
/*img*/

ion-avatar,
ion-avatar > img {
  border-radius: 25% !important;
}
/*HEADER*/

.toolbar-background {
  background-color: color($colors, primary, base);
}
.toolbar-title {
  color: #fff;
}
/*Search bar*/

.searchbar-md .searchbar-input {
  padding: 0 25px 0 30px;
  font-size: 14px;
}
.searchbar-md .searchbar-search-icon {
  top: 6px;
  left: 9px;
}
/* SEGMENT */

.segment-ios {
  padding: 5px;
}
.searchbar-ios {
  background: transparent;
  min-height: auto !important;
  height: auto !important;
}
/* loader */

.loading-wrapper {
  background: none !important;
  box-shadow: none !important;
}
ion-spinner * {
  width: 40px !important;
  height: 40px !important;
}
/* common */

.share-container {
  padding: 10px 10px 5px;
  height: fit-content;
  width: fit-content;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.profile-picture {
  // max-height: 150px; // max-width: 100px;
  border-radius: 5%;
}
/*modal*/

modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}
@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
