<ion-header></ion-header>


<ion-content>
  <ion-row align-items-center justify-content-center class="logo-background">
    <ion-col col-5>
      <img src="assets/imgs/logo-white.png" />
    </ion-col>
  </ion-row>

  <ion-row align-items-center justify-content-center class="image-pick-container" (click)="selectImage()">
    <ion-col col-12 [hidden]="displayImageSrc === null">
      <img [src]="displayImageSrc" style="width: 100%; height: 100%;" />
    </ion-col>


    <ion-col col-5 [hidden]="displayImageSrc !== null">
      <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
      <p>Envie uma foto</p>
    </ion-col>
    <input hidden type="file" id="uploadImage" (change)="uploadImage($event)">
  </ion-row>

  <form padding (ngSubmit)="onFormSubmit()">
    <p class="subtitle">Dados do comprador:</p>

    <ion-row align-items-center justify-content-center>
      <ion-item>
        <ion-label class="input-label label-required" stacked> Nome da empresa </ion-label>
        <ion-input [formControl]="form.controls.companyName" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isInserting" >
        <ion-label class="input-label" stacked> CNPJ </ion-label>
        <ion-input type="text" [brmasker]="{mask:'00.000.000/0000-00', len:18, type:'num'}" [formControl]="form.controls.cnpj"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isInserting">
        <ion-label class="input-label" stacked> Telefone fixo </ion-label>
        <ion-input type="tel" [brmasker]="{mask:'(00)0000-0000', len:13, type:'num'}" [formControl]="form.controls.telephone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="input-label label-required" stacked> CEP </ion-label>
        <ion-input type="text" mask="*****-***" maxlength="9" [formControl]="form.controls.cep" (blur)="onCepBlur($event)">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="!isInserting">
        <ion-label class="input-label label-required" stacked> Rua </ion-label>
        <ion-input [formControl]="form.controls.street" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isInserting">
        <ion-label class="input-label" stacked> Número </ion-label>
        <ion-input [formControl]="form.controls.houseNumber" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isInserting">
        <ion-label class="input-label" stacked> Complemento </ion-label>
        <ion-input [formControl]="form.controls.complement" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isInserting">
        <ion-label class="input-label label-required" stacked> Bairro </ion-label>
        <ion-input [formControl]="form.controls.district" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isInserting">
        <ion-label class="input-label label-required" stacked> Cidade </ion-label>
        <ion-input [formControl]="form.controls.city" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isInserting">
        <ion-label class="input-label label-required" stacked> Estado </ion-label>
        <ion-select [formControl]="form.controls.state">
          <ion-option *ngFor="let state of states" [value]="state.id">{{state.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-item>
      <ion-label class="input-label label-required" stacked> Ramo de atividades</ion-label>
      <ion-select [formControl]="form.controls.branch_of_activities" multiple="true">
        <ion-option *ngFor="let branch of branchOfActivities" [value]="branch.name">{{branch.name}}</ion-option>
      </ion-select>
    </ion-item>
    
    <br>

    <ion-row>
      <ion-col text-center>
        <button ion-button color="primary" round block type="submit" class="big-btn">
          Cadastrar
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button clear round block (click)="push('LoginPage')" class="f-dark">
          Já possui uma conta?
        </button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>