page-buyer-form {
    .item {
        padding-left: 0;
    }
    .subtitle {
        color: #4bb292;
        font-size: 16px;
        margin-bottom: 0;
    }
    .logo-background {
        padding-top: 15px;
        background: #469e84;
    }
    .image-pick-container {
        background: #dcdcdc;
        padding: 10px 0;
    }
    .image-pick-container ion-icon {
        color: #9d9a9a;
        font-size: 6em;
    }
    .image-pick-container ion-col {
        text-align: center;
    }
    .image-pick-container p {
        color: #9d9a9a;
    }
}
