<ion-header>
    <ion-navbar>

        <ion-buttons left>
            <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        </ion-buttons>

        <ion-title>Perfil</ion-title>

    </ion-navbar>
</ion-header>


<ion-content>
    <ion-row align-items-center justify-content-center class="avatar-background">
        <ion-col col-10 style="display: flex; justify-content: center">
            <img class="profile-picture" [src]="profileImgSrc" (click)="selectImage()" style="width: 100%; height: auto" />  
            <p class="remove-profile-pic" [hidden]="!shouldDisplayRemovePicBtn" (click)="onRemovePicPress()">
                Remover
                <ion-icon ></ion-icon>
            </p>
            <input hidden type="file" id="uploadImage" (change)="uploadImage($event)" >
        </ion-col>
    </ion-row>


    <form padding (ngSubmit)="onFormSubmit()">
        <p class="subtitle">Meus dados:</p>

        <ion-row align-items-center justify-content-center>
            <ion-item>
                <ion-label class="input-label label-required" stacked> Nome do contato </ion-label>
                <ion-input [(ngModel)]="formModel.name" name="name" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label class="input-label label-required" stacked> Celular </ion-label>
                <ion-input [(ngModel)]="formModel.cel" [brmasker]="{phone: true}" type="tel" name="formModel.cel"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label class="input-label label-required" stacked> E-mail </ion-label>
                <ion-input [(ngModel)]="formModel.email" name="formModel.email" type="email"></ion-input>
            </ion-item>
        </ion-row>

        <br>

        <div *ngIf="currentVision === 'provider' ">
            <p class="subtitle">Dados do vendedor:</p>

            <ion-row align-items-center justify-content-center>
                <!-- <ion-item>
                    <p class="input-label label-required"> Categorias de produto </p>
                        <rl-tag-input 
                            [(ngModel)]="providerCategories" name="provider_categories" [addOnBlur]="true" placeholder="">
                        </rl-tag-input>
                </ion-item> -->

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Categorias de produto</ion-label>
                    <ion-select name="provider.categ" [(ngModel)]="providerCategories" multiple="true" (ionChange)="onBranchChange($event)">
                        <ion-option *ngFor="let branch of branchOfActivities" [value]="branch.name">{{branch.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <p class="input-label label-required" (click)="addOccupationArea()">
                        Região de atuação
                        <ion-icon name="add" style="margin-left: 5px; color: #444;"></ion-icon>
                    </p>

                    <p class="view-tag-container">
                        <span *ngFor="let address of formModel.provider.adresses">
                            <span *ngIf="address.state === 'Todos os estados'">
                                {{address.state}}
                            </span>
                            <span *ngIf="address.state !== 'Todos os estados' && address.city === 'Todas as cidades'">
                                {{address.state}} - {{address.city}}
                            </span>
                            <span *ngIf="address.state !== 'Todos os estados' && address.city !== 'Todas as cidades'">
                                {{address.city}} - {{address.neighborhood}}
                            </span>
                            <ion-icon name="close" class="remove-btn" (click)="removeOccupationArea(address)"></ion-icon>
                        </span>
                    </p>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> Nome da empresa </ion-label>
                    <ion-input [(ngModel)]="formModel.company_name" name="company_name" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> CNPJ </ion-label>
                    <ion-input [(ngModel)]="formModel.cnpj" name="cnpj" type="text" [brmasker]="{mask:'00.000.000/0000-00', len:18, type:'num'}"></ion-input>
                </ion-item>

                <ion-item>
                    <p class="input-label label-required"> Marcas ou produtos </p>
                    <rl-tag-input [(ngModel)]="providerBrands" name="provider.brands" [addOnBlur]="true" placeholder="">
                    </rl-tag-input>
                </ion-item>
            </ion-row>
        </div>

        <div *ngIf="currentVision == 'buyer' ">
            <p class="subtitle">Dados do comprador:</p>

            <ion-row align-items-center justify-content-center>
                <ion-item>
                    <ion-label class="input-label" stacked> Nome da empresa </ion-label>
                    <ion-input [(ngModel)]="formModel.company_name" name="formModel.person_buyer.company_name" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> CNPJ </ion-label>
                    <ion-input [(ngModel)]="formModel.cnpj" name="formModel.person_buyer.cnpj" type="text" maxlength="18" mask="**.***.***/****-**"></ion-input>
                </ion-item>

                <ion-item *ngIf="formModel.buyer">
                    <ion-label class="input-label" stacked> Telefone fixo </ion-label>
                    <ion-input type="text" [brmasker]="{mask:'(00)0000-0000', len:13, type:'num'}" name="formModel.telephone" [(ngModel)]="formModel.buyer.tel">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> CEP </ion-label>
                    <ion-input type="text" mask="*****-***" maxlength="9" name="buyerAddress.zip_code" [(ngModel)]="formModel.buyer.adresses.zip_code" (ionBlur)="onCepBlur($event)">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Rua </ion-label>
                    <ion-input type="text" name="buyerAddress.street" [(ngModel)]="formModel.buyer.adresses.street"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> Número </ion-label>
                    <ion-input name="buyerAddress.house_number" [(ngModel)]="formModel.buyer.adresses.number" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> Complemento </ion-label>
                    <ion-input name="buyerAddress.complement" [(ngModel)]="formModel.buyer.adresses.complement" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> Bairro </ion-label>
                    <ion-input name="buyerAddress.district.name" [(ngModel)]="formModel.buyer.adresses.district" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Cidade </ion-label>
                    <ion-input name="buyerAddress.city.name" [(ngModel)]="formModel.buyer.adresses.city" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Estado </ion-label>
                    <ion-select name="state_id" [(ngModel)]="buyerAddress.state_id">
                        <ion-option *ngFor="let state of states" [value]="state.id">{{state.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Ramo de atividades</ion-label>
                    <ion-select name="categoriesProducts" [(ngModel)]="buyerCategories" multiple="true" (ionChange)="onBranchChange($event)">
                        <ion-option *ngFor="let branch of branchOfActivities" [value]="branch.name">{{branch.name}}</ion-option>
                    </ion-select>
                </ion-item>

            </ion-row>

            <br>

        </div>

        <div *ngIf="currentVision == 'corporate' ">
            <p class="subtitle">Dados do corporativo:</p>

            <ion-row align-items-center justify-content-center>
                <ion-item>
                    <ion-label class="input-label" stacked> Nome da empresa </ion-label>
                    <ion-input [(ngModel)]="formModel.company_name" name="formModel.company_name" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Categorias de produto</ion-label>
                    <ion-select name="corporate.categories" [(ngModel)]="corporateCategories" multiple="true" (ionChange)="onBranchChange($event)">
                        <ion-option *ngFor="let branch of branchOfActivities" [value]="branch.name">{{branch.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <p class="input-label label-required"> Marcas </p>
                    <rl-tag-input [(ngModel)]="corporateBrands" name="corporate.brands" [addOnBlur]="true" placeholder="">
                    </rl-tag-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> CEP </ion-label>
                    <ion-input type="text" mask="*****-***" maxlength="9" name="corporateAddress.zip_code" [(ngModel)]="corporateAddress.zip_code" (ionBlur)="onCepBlur($event)">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Rua </ion-label>
                    <ion-input type="text" name="corporateAddress.street" [(ngModel)]="corporateAddress.street"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> Número </ion-label>
                    <ion-input name="corporateAddress.house_number" [(ngModel)]="corporateAddress.number" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> Complemento </ion-label>
                    <ion-input name="corporateAddress.complement" [(ngModel)]="corporateAddress.complement" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> Bairro </ion-label>
                    <ion-input name="corporateAddress.district.name" [(ngModel)]="corporateAddress.neighborhood" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Cidade </ion-label>
                    <ion-input [disabled]="true" name="corporateAddress.city.name" [(ngModel)]="corporateAddress.city" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label label-required" stacked> Estado </ion-label>
                    <ion-input [disabled]="true" name="corporateAddress.state.name" [(ngModel)]="corporateAddress.state" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <p class="input-label label-required" (click)="addOccupationArea()">
                        Região de atuação
                        <ion-icon name="add" style="margin-left: 5px; color: #444;"></ion-icon>
                    </p>

                    <p class="view-tag-container">
                        <span *ngFor="let address of formModel.corporate.adresses">
                            <span *ngIf="address.state === 'Todos os estados'">
                                {{address.state}}
                            </span>
                            <span *ngIf="address.state !== 'Todos os estados' && address.city === 'Todas as cidades'">
                                {{address.state}} - {{address.city}}
                            </span>
                            <span *ngIf="address.state !== 'Todos os estados' && address.city !== 'Todas as cidades'">
                                {{address.city}} - {{address.neighborhood}}
                            </span>
                            <ion-icon name="close" class="remove-btn" (click)="removeOccupationArea(address)"></ion-icon>
                        </span>
                    </p>
                    <!-- <p class="view-tag-container" *ngIf="this.currentVision == 'corporate'" >
                        <span *ngFor="let address of formModel.corporate.adresses">
                            {{ (address && address.district ? address.district.name : "") || (address && address.city ? address.city.name : "") || (address && address.state ? address.state.name : "") }}
                          <ion-icon name="close" class="remove-btn" (click)="removeOccupationArea(address)"></ion-icon>
                        </span>
                    </p> -->
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> Telefone fixo </ion-label>
                    <ion-input type="text" [brmasker]="{mask:'(00)0000-0000', len:13, type:'num'}" name="formModel.corporate.telephone" [(ngModel)]="formModel.corporate.tel">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="input-label" stacked> CNPJ </ion-label>
                    <ion-input [(ngModel)]="formModel.cnpj" name="formModel.cnpj" type="text" maxlength="18" mask="**.***.***/****-**"></ion-input>
                </ion-item>

            </ion-row>

            <br>

        </div>

        <ion-row style="margin: 10px 0;">
            <ion-col text-center>
                <button ion-button color="primary" round block type="submit" class="big-btn">
                    Salvar
                </button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col text-center>
                <button ion-button clear round blockclass="f-dark" type="button" (click)="onChangePassBtnPress()">
                    Alterar senha
                </button>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="currentVision !== 'corporate'">
            <ion-col text-center>
                <button ion-button clear round blockclass="f-dark" type="button" (click)="onButtonPress()">
                    {{buttonText}}
                </button>
            </ion-col>
        </ion-row>
    </form>

    <ion-grid *ngIf="feeds.length > 0">
        <ion-row>
            <ion-col style="text-align: center;">
                <span style="font-size: 16px; color: #40a480; font-weight: bold;">Minha publicações</span>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of feeds">

            <ion-col col-6 style="text-align: center; border: 1px solid gainsboro;" (click)="editFeed(item.item1)" *ngIf="item.item1.picture">
                <img [src]="item.item1.picture" style="max-height: 100px;" *ngIf="item && item.item1">
            </ion-col>
            <ion-col col-6 style="text-align: center; border: 1px solid gainsboro;" (click)="editFeed(item.item1)" *ngIf="!item.item1.picture">
                <div style="min-height: 100px; text-align: center; font-size: 11px;" *ngIf="item && item.item1">
                    {{item.item1.textpublish}}
                </div>
            </ion-col>

            <ion-col col-6 style="text-align: center; border: 1px solid gainsboro;" (click)="editFeed(item.item2)" *ngIf="item.item2 && item.item2.picture">
                <img [src]="item.item2.picture" style="max-height: 100px;" *ngIf="item && item.item2">
            </ion-col>
            <ion-col col-6 style="text-align: center; border: 1px solid gainsboro;" (click)="editFeed(item.item2)" *ngIf="item.item2 && !item.item2.picture">
                <div style="min-height: 100px; text-align: center; font-size: 11px;" *ngIf="item && item.item2">
                    {{ item.item2.textpublish}}
                </div>
            </ion-col>

        </ion-row>
        <ion-row style="padding-top: 20px;" *ngIf="returnMoreFeeds">
            <ion-col style="text-align: center;">
                <button ion-button color="primary" round block type="button" (click)="seeMore()">
              Ver mais
            </button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>