page-profile {
  form {
    padding: 0 16px !important;
  }

  .remove-profile-pic {
    color: #ef473a;
    text-align: center;
  }

  .remove-profile-pic > ion-icon {
    color: #ef473a;
  }

  .avatar-background {
    background: #fff;
    padding-top: 5px;
  }

  .image-pick-container {
    background: #fff;
    //padding: 10px 0;
  }

  .item {
    padding-left: 0;
  }

  .subtitle {
    color: #4bb292;
    font-size: 16px;
    margin-bottom: 0;
  }

  /*TAGS INPUT*/
  [_nghost-c1] {
    background-color: color($colors, primary);
    border-radius: 40px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 3px;
  }
  [_nghost-c1] .ng2-tag-input-remove[_ngcontent-c1] {
    color: color($colors, primary);
    background: #fff;
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
  [_nghost-c0] {
    padding: 0px 0 0px 0;
  }

  .frame-square {
    width: 160px;
    height: 150px;
    margin: .5em;
    float: left;
  }
  
  .crop {
    height: 100%;
    overflow: hidden;
    position: relative;
    
    img {
      display: block;
      min-width: 100%;
      min-height: 100%;
      margin: auto;
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
    }
  }
}
