page-home {
  .content {
    background: #48a588;
    background: -webkit-linear-gradient(to top, #56D6AD 40%, #48a588 100%);; 
    background: linear-gradient(to top, #56D6AD 15%, #48a588 50%);
  }      

  ion-grid {
    height: 100%;
    justify-content: center;
  }

  #login-btn > span {
    color: #fff;
  }
}
