<ion-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col col-7>
        <img src="assets/imgs/logo-white.png"/>
      </ion-col>      
    </ion-row>

    <ion-row align-items-center justify-content-center>
      <ion-col col-8>
        <p align="center" class="f-bold f-white">
          Bem-vindo ao Blinknet!
        </p>
        <p align="center" class="f-white">
          Conectando representantes e vendedores com compradores em todo o Brasil.
        </p>
      </ion-col>      
    </ion-row>

    <ion-row align-items-center justify-content-center>
      <ion-col col-11>
        <br><br><br><br>
        <button id="login-btn" ion-button color="light" outline round block  class="big-btn"
          (click)="push('LoginPage')">
          Login
        </button>
      </ion-col>      
    </ion-row>

    <ion-row align-items-center justify-content-center>
      

      <ion-col col-11 >
        <button  ion-button color="light" round block class="big-btn"
          (click)="push('RegisterPage')">
          Inscreva-se
        </button>
      </ion-col>    
    </ion-row>

  </ion-grid>
</ion-content>
